@import "tailwindcss";

/* Fonts ---------------------------------------------------------- */
@theme {
  --font-monospace:
    "Handjet", ui-monospace, monospace, "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* Default element styling ---------------------------------------- */
html,
body {
  @apply bg-cyan-950 text-cyan-200 font-light text-lg tracking-wide font-monospace;
}

input {
  @apply border border-current p-1;
}

button {
  @apply transition-colors border-current border px-2 bg-cyan-900 cursor-pointer;
}

button:hover {
  @apply bg-cyan-800;
}

button:active {
  @apply bg-cyan-950;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-cyan-50;
}

li {
  @apply list-inside;
  list-style-type: "- ";
}

summary {
  list-style-type: "▹ ";
}

details[open] > summary {
  list-style-type: "▿ ";
}

/* Animation ------------------------------------------------------ */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20);
}

.typing-cursor {
  animation:
    blink 1s step-end 3 0.8s,
    fadeOut 1s ease-out 3s forwards;
}
