@import "tailwindcss";

@theme {
  --font-monospace:
    "Handjet", ui-monospace, monospace, "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  @apply bg-cyan-950 text-cyan-200 text-lg font-monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20);
}

.typing-cursor {
  animation:
    blink 1s step-end 3 0.8s,
    fadeOut 1s ease-out 3s forwards;
}
